{{#models}}{{#model}}/*
 * {{classname}}.cpp
 *
 * {{description}}
 */

#include "{{classname}}.h"

using namespace openapi;

// macro should do the same job
// OPENAP_JSON_CONVERT_FUNCS({{classname}}{{#vars}}, {{name}}{{/vars}})

void {{classname}}::ToJSON(Json & j) const
{
    // OPENAPI_FOR_EACH(OPENAPI_TO_JSON_MEMBER, __VA_ARGS__)
    {{#vars}}
    j.AddMember<decltype(this->{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}})>(openapi::StringT(OPENAPI_LITERAL({{name}})), this->{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}});
    {{/vars}}
}

void {{classname}}::FromJSON(const Json & j)
{
    // OPENAPI_FOR_EACH(OPENAPI_FROM_JSON_MEMBER, __VA_ARGS__)
    {{#vars}}
    if(j.HasKey(openapi::StringT(OPENAPI_LITERAL({{name}}))))
    {
        using V = remove_optional<decltype(this->{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}})>::type;
        this->{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}} = j.GetMember<V>(openapi::StringT(OPENAPI_LITERAL({{name}})));
    }
    {{/vars}}
}

{{/model}}
{{/models}}