#include "gtest/gtest.h"

#include "{{classname}}.h"

TEST({{classname}}, Deserialize)
{
    // TODO: generate test content
    openapi::{{classname}} x;
    Json j;
    x.FromJSON(j);
    x.ToJSON(j);
}