{{#models}}{{#model}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#pragma once

{{/model}}{{/models}}
#include <string>
#include <optional>
#include "model_common.h"
{{#imports}}
{{{import}}}
{{/imports}}

namespace openapi {
{{#models}}{{#model}}

/*! \brief {{{description}}}
 *
 *  \ingroup Models
 *
 */
{{! struct field is snake case and type is camelcase to avoid clashes }}
struct {{classname}}{
    {{#vars}}
    {{^isContainer}}
    {{#isPrimitiveType}}
    std::optional<{{dataType}}> {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}}{};
    {{/isPrimitiveType}}
    {{^isPrimitiveType}}
    std::optional<{{dataType}}> {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}};
    {{/isPrimitiveType}}
    {{/isContainer}}
    {{#isContainer}}
        {{#isMap}}
    // additional properties should be rendered as json. string for now.
    {{dataType}} {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}};
        {{/isMap}}
        {{^isMap}}
    // array
    {{! if array is of another array of type, then it is not supported and string is rendered }}
    {{dataType}}<{{#items}}{{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}openapi::string_t{{/isContainer}}{{/items}}> {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}};
        {{/isMap}}
    {{/isContainer}}
	{{/vars}}
    OPENAPI_JSON_CONVERT_FUNCS_DECLARE
};
{{/model}}
{{/models}}
}